<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Petition</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <!-- <a class="logo" href="/"> -->
                <span>Petition</span>
            <!-- </a> -->
        </header>
        <main>
            {{{body}}}
        </main>
        <footer>
            <p>&copy; Kim Skovhus Andersen</p>
        </footer>
        <script src="/js/script.js"></script>
    </body>
</html>
