<div>
    <p>We respect your concerns about privacy and value the relationship that we have with you.

    Please take a moment to familiarise yourself with our cookie practices and let us know if you have any
    questions by sending us an <a href="javascript://">e-mail</a> or submitting a request
    through the 'Contact Us' for on our website.

    We have tried to keep this notice as simple as possible, but if you're not familiar with terms, such as cookies,
    then read about these <a href="javascript://">key terms</a> first.</p>
</div>

<form method="post">
    <fieldset>
        <label>I Accept</label>
        <input type="checkbox" value="true" name="acceptCookies">
        <button>Continue to page</button>
    </fieldset>
</form>
