<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <!-- <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Login</h4> -->
                <p>We respect your concerns about privacy and value the relationship that we have with you.</p>
                <br />
                <p>Please take a moment to familiarise yourself with our cookie practices and let us know if you have any questions by sending us an <a href="javascript://">e-mail</a> or submitting a request through the 'Contact Us' for on our website.</p>
                <br />
                <p>We have tried to keep this notice as simple as possible, but if you're not familiar with terms, such as cookies then read about these <a href="javascript://">key terms</a> first.</p>

                <form method="post">
                    <input id="acceptCookies" type="checkbox" value="true" name="acceptCookies">
                    <label for="acceptCookies">I accept</label>
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <button class="btn waves-effect waves-light" type="submit" name="submit">Continue to page</button>
                </form>



            </div>
        </div>

    </div>
</div>
