* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    /* background-color: #FFA600; */
    flex: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow-y: scroll; */
    /* -webkit-overflow-scrolling: touch; */
    flex: auto;
    /* background-color: #929292; */
}

.wrapper {
    background-color: whitesmoke;
    list-style-type: none;
    border-radius: 3px;
    padding: 10px 0;
}

.form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.form-row>label {
    padding: .5em 1em .5em 0;
    flex: 1;
}

.form-row>input {
    flex: 2;
}

.form-row>input,
.form-row>button {
    padding: .5em;
}

.form-row>button {
    background: gray;
    color: white;
    border: 0;
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    height: 30px;
    /* background-color: #FFBFCB; */
}