* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    flex: none;
}

main {
    flex: auto;
    position: relative;
}

#overlay {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2)
}

#overlay.on {
    visibility: visible;
}

#signers-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100% !important;
    overflow: visible !important;
}

.parallax-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

.parallax-container .section {
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%) !important;
}

#profile-menu {
    position: relative;
}

#profile-menu img {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    border-radius: 50%;
}

#profile-menu span {
    padding-left: 35px;
    color: #666;
}

ul#list-profile-menu {
    z-index: 2;
    visibility: hidden;
    display: none;
}

ul#list-profile-menu.on {
    visibility: visible;
    display: block;
}

ul#list-profile-menu li {
    width: 100%;
    z-index: 2;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

ul#list-profile-menu li a:hover {
    background-color: #ddd;
}

ul#list-profile-menu li a {
    background: white;
    z-index: 2;
}

ul#nav-mobile #profile-menu span {
    padding-left: 55px;
}

#canvas {
    border: 1px solid #aaa;
    background: #fff;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: relative;
    opacity: 1;
    pointer-events: auto;
    padding: 4px;
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

footer {
    flex: none;
}

nav ul a,
nav .brand-logo {
    color: #444;
}

nav ul a img {
    transform: translateY(7px);
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, 0.9);
}

.parallax-container .section {
    width: 100%;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    padding-top: 0 !important;
    margin: 0;
}

@media only screen and (min-width: 600px) {
    .signatureOn {
        width: 50% !important;
    }
}

@media only screen and (min-width: 992px) {
    ul#list-profile-menu {
        position: absolute;
        right: -0% !important;
    }
}